#new-project {
    display:none;
}
.box {
    height:150px;
    border:1px solid #dfe6e9;
    width:100%;    
    margin:10px 10px 0 0;
}
.title {
    width:100%;
    text-align:center;
    padding:20px 0;
    border-bottom: 1px solid #dfe6e9;
    color:#a29bfe;
    text-transform:uppercase;
    font-weight:bold;
}
.m-top {
    margin-top:10px;
}
.task {
    font-family:sans-serif;
    color:#b2bec3;
    font-weight:lighter;
}
.big {
    font-size:40px;
    height:40px;
    line-height:40px;
}
.center {
    text-align:center;
}
.imp {
    font-weight:normal;
    text-decoration:underline;
}
.clickable {
    cursor:pointer;
}
.clickable:hover {
    opacity:0.7;
}
.container {
    padding-bottom:10px;
}